body {
	background-image: linear-gradient(#404040, black); 
	text-align: center; 
}

h1 {
	color: white;  
	text-align: center; 
	text-shadow: 0 0 5px white; 
	margin-top: 30px; 
	margin-bottom: 30px; 
}

canvas {
	display: flex;
	flex-direction: column;  
	box-shadow: 0 0 10px white; 
	margin-bottom: 20px; 
}

a:hover {
	text-shadow: 0 0 4p white; 
}

li {
	margin: auto; 
}

.sketch-upper-level {
	margin: auto;
	display: flex; 
	justify-content: center; 
	flex-direction: row; 
}

.sketch-upper-right-container {
	padding: 20px; 
	display: flex; 
	flex-direction: column; 
}

.github-repo-link {
	font-size: initial;
	text-decoration: none; 
	margin-left: 100px; 
	margin-right: 100px; 
}

.SketchOptions {
	margin-bottom: 50px; 
}

.card {
	width: 20rem;
	margin: auto; 
}

.sketch-lower-level {
	margin: auto; 
	display: flex; 
	justify-content: center; 
	flex-direction: row; 
	
.annotations {
	display: flex; 
}

.form-group {
	color:white;
}

.formgrpelement {
	color: white;
	margin: auto;
	display:block; 
}

.shortcutitem {
	flex-direction: column; 
	margin-right: 30px; 
	margin-left: 30px;
	
}

#hiddenOpeningsList {
	margin: 20px; 
}

#openingsearch {
	color: black !important;
}

#annotationinput {
	display: block; 
	color: black; 
}

#shortcuts {
	display: flex; 
	color: white; 
	margin-bottom: 50px; 
}

#contributors {
	color: white; 
	text-align: center; 
	font-style: oblique; 
	margin-bottom: 100px; 
	display:inline; 
	text-decoration: none !important; 
}

#last-release {
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
}

#version {
	font-size: initial;
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
	margin-left: 50px; 
	margin-right: 50px; 
}
