body {
	background-image: linear-gradient(#404040, black); 
	text-align: center; 
}

h1 {
	color: white; 
	opacity: 0.7; 
	text-align: center; 
	text-shadow: 0 0 5px white; 
	margin-top: 30 px; 
	margin-bottom: 30px; 
}

canvas {
	border-width: 10px; 
	border-color: #143f4f; 
	border-style: groove; 
	box-shadow: 0 0 10px white; 
	margin-bottom: 20px; 
}

.github-repo-link {
	text-decoration: none; 
	margin-left: 100px; 
	margin-right: 100px; 
}

.SketchOptions {
	margin-bottom: 50px; 
}

#hiddenOpeningsList {
	margin: 20px; 
}

.card {
	width: 20rem;
	margin: auto; 
}

.form-group {
	color:white;
}

.formgrpelement {
	color: white;
	margin: auto;
	display:block; 
}

#openingsearch {
	color: black !important;
}

#shortcuts {
	color: white; 
	margin-bottom: 50px; 
}

.shortcutitem {
	margin-right: 30px; 
	margin-left: 30px; 
}

#contributors {
	color: white; 
	text-align: center; 
	font-style: oblique; 
	margin-bottom: 100px; 
	display:inline; 
	text-decoration: none !important; 
}

#last-release {
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
}

#version {
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
	margin-left: 50px; 
	margin-right: 50px; 
}

a:hover {
	text-shadow: 0 0 4p white; 
}

li {
	margin: 10px; 
}
