body {
	background: rgb(0, 0, 0);
	background-attachment: fixed; 
	text-align: center;
	color: white !important;
	padding-left: 10px; 
	padding-right: 10px; 
}

header {
	display: flex;
	margin: auto;
}

h1 {
	color: white;  
	text-align: center; 
	text-shadow: 0 0 3px white; 
	font-size: 2rem;
	margin: 2rem 0rem;
}

h5 {
	margin: 0rem 2rem;
}

canvas {
	display: flex;
	flex-direction: column;  
	box-shadow: 0 0 10px white; 
	margin: 20px; 
}

a {
	margin: auto;
}

a:hover {
	text-shadow: 0 0 4p white; 
}

li {
	margin: auto; 
}

button {
	margin: 5px; 
}

button:hover {
	text-shadow: 0 0 5px white; 
}

td {
	font-size: small; 
	padding: 0.2rem 0.4rem;
}

.sketch-upper-level {
	margin-bottom: 10px; 
	display: flex; 
	justify-content: center; 
	flex-direction: row; 
}

.sketch-upper-right-container {
	padding: 20px; 
	display: flex; 
	flex-direction: column; 
}

.variations-container {
	margin: auto;
	display: flex;
	flex-direction: column; 
	justify-content: left; 
}

.github-repo-link {
	font-size: initial;
	text-decoration: none; 
	margin-left: 100px; 
	margin-right: 100px; 
}

.SketchOptions {
	margin: 0px auto;
}

.card {
	width: 20rem;
	margin: auto; 
}

.sketch-lower-level {
	margin: auto; 
	display: flex; 
	justify-content: center; 
	flex-direction: row; 
}

.annotations {
	margin: 0rem 0.5rem; 
	display: flex; 
}

.form-group {
	color: white;
}

.formgrpelement {
	margin: auto;
	display: block; 
}

.key-img {
	font-size: 1.4rem;
}

#site-title {
	margin-left: 3rem;
	width: 85%;
	text-align: left;
}

#hiddenOpeningsList {
	margin: 20px; 
}

#openingsearch {
	color: black !important;
}

#annotationinput {
	display: block; 
	color: black; 
}

#shortcuts {
	display: flex; 
	color: white; 
	margin: auto;
}

#notes {
	margin: 2rem 0rem;
}

#contributors {
	color: white; 
	text-align: center; 
	font-style: oblique; 
	margin-bottom: 100px; 
	display:inline; 
	text-decoration: none !important; 
}

#last-release {
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
}

#version {
	font-size: initial;
	color: white; 
	text-align: center; 
	display: inline; 
	margin-bottom: 100px; 
	margin-left: 50px; 
	margin-right: 50px; 
}
